Repository smile-clinic-manager/smile-clinic, pull requests merged in 2025-02, with the labels that each got.

#100 Clinic list detail
  smile-clinic-back/smile-clinic/docker-compose.yml
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/mappers/PatientRestMapper.java
  smile-clinic-back/smile-clinic/src/main/resources/data.sql
  smile-clinic-front/smile-clinic/src/app/app.routes.ts
  smile-clinic-front/smile-clinic/src/app/models/ClinicDTO.ts
  smile-clinic-front/smile-clinic/src/app/modules/clinic-list/clinic-list.component.html
  smile-clinic-front/smile-clinic/src/app/modules/clinic-list/clinic-list.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/clinic-list/clinic-list.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/modules/clinic-list/clinic-list.component.ts
Labels: feature, front, wip

#101 Feature/r 046 header app
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/config/security/HttpSecurityConfig.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/UserController.java
  smile-clinic-front/smile-clinic/src/app/app.component.ts
  smile-clinic-front/smile-clinic/src/app/app.routes.ts
  smile-clinic-front/smile-clinic/src/app/auth.guard.spec.ts
  smile-clinic-front/smile-clinic/src/app/auth.guard.ts
  smile-clinic-front/smile-clinic/src/app/modules/home/home.component.html
  smile-clinic-front/smile-clinic/src/app/modules/home/home.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/home/home.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/modules/home/home.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/footer/footer.component.html
  smile-clinic-front/smile-clinic/src/app/modules/layout/footer/footer.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/layout/footer/footer.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/footer/footer.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/header/header.component.html
  smile-clinic-front/smile-clinic/src/app/modules/layout/header/header.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/layout/header/header.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/header/header.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/layout.component.html
  smile-clinic-front/smile-clinic/src/app/modules/layout/layout.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/side-var/side-var.component.html
  smile-clinic-front/smile-clinic/src/app/modules/layout/side-var/side-var.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/layout/side-var/side-var.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/modules/layout/side-var/side-var.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/login/login.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/signup/signup.component.html
  smile-clinic-front/smile-clinic/src/app/modules/signup/signup.component.ts
  smile-clinic-front/smile-clinic/src/services/local-storage.service.ts
  smile-clinic-front/smile-clinic/src/services/signup.service.ts
  smile-clinic-front/smile-clinic/src/styles-custom-theme.scss
  smile-clinic-front/smile-clinic/src/styles.scss
Labels: feature, front

#102 feat: Appointment basic backend implementation
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/ports/input/AppointmentServicePort.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/ports/input/AuthServicePort.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/ports/output/AppointmentPersistancePort.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/services/AppointService.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/services/AuthService.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/domain/exceptions/AppointmentNotFoundException.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/domain/models/appointments/Appointment.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/domain/models/appointments/AppointmentStatus.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/AppointmentRestController.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/AuthenticationController.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/mappers/AppointmentRestMapper.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/mappers/PatientRestMapper.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/models/AppointmentDTO.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/AppointmentPersistanceAdapter.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/entities/AppointmentEntity.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/entities/UserEntity.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/mappers/AppointmentPersistanceMapper.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/repositories/AppointmentEntityRepository.java
Labels: feature, back
