Repository smile-clinic-manager/smile-clinic, pull requests merged in 2025-03, with the labels that each got.

#107 feat: list treatments
  smile-clinic-front/smile-clinic/src/app/app.routes.ts
  smile-clinic-front/smile-clinic/src/app/modules/treatment-detail/treatment-detail.component.html
  smile-clinic-front/smile-clinic/src/app/modules/treatment-detail/treatment-detail.component.ts
  smile-clinic-front/smile-clinic/src/app/modules/treatment-list/treatment-list.component.ts
Labels: feature, front

#120 fix: changed relationship between Clinic and Treatment
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/entities/ClinicEntity.java
  smile-clinic-back/smile-clinic/src/main/resources/data.sql
Labels: back, techdebt

#130 Feature/crud treatments
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/ports/input/TreatmentServicePort.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/application/services/TreatmentService.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/domain/models/Treatment.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/controllers/TreatmentRestController.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/input/rest/models/TreatmentDTO.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/adapters/TreatmentPersistanceAdapter.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/entities/ClinicEntity.java
  smile-clinic-back/smile-clinic/src/main/java/com/smile/clinic/smile_clinic/infrastructure/adapters/output/persistance/entities/TreatmentEntity.java
  smile-clinic-back/smile-clinic/src/main/resources/data.sql
  smile-clinic-front/smile-clinic/src/app/dialogs/delete-treatment/delete-treatment.component.html
  smile-clinic-front/smile-clinic/src/app/dialogs/delete-treatment/delete-treatment.component.scss
  smile-clinic-front/smile-clinic/src/app/dialogs/delete-treatment/delete-treatment.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/dialogs/delete-treatment/delete-treatment.component.ts
  smile-clinic-front/smile-clinic/src/app/dialogs/treatment-form/treatment-form.component.html
  smile-clinic-front/smile-clinic/src/app/dialogs/treatment-form/treatment-form.component.scss
  smile-clinic-front/smile-clinic/src/app/dialogs/treatment-form/treatment-form.component.spec.ts
  smile-clinic-front/smile-clinic/src/app/dialogs/treatment-form/treatment-form.component.ts
  smile-clinic-front/smile-clinic/src/app/models/TreatmentDTO.ts
  smile-clinic-front/smile-clinic/src/app/modules/treatment-list/treatment-list.component.html
  smile-clinic-front/smile-clinic/src/app/modules/treatment-list/treatment-list.component.scss
  smile-clinic-front/smile-clinic/src/app/modules/treatment-list/treatment-list.component.ts
  smile-clinic-front/smile-clinic/src/services/local-storage.service.ts
  smile-clinic-front/smile-clinic/src/services/treatment.service.spec.ts
  smile-clinic-front/smile-clinic/src/services/treatment.service.ts
  smile-clinic-front/smile-clinic/src/styles.scss
Labels: feature, front, back
